{% extends 'layoutServerView.html' %}

{% block content %}

<div class="row">
	<div class="col-md-6 col-md-push-6">
		<img alt="CEED" class="img-responsive text-center" src="modules/waterHome/img/choco/505.png" />
	</div>
	<div class="col-md-6 col-md-pull-6 text-center">
		<h1>505</h1>
		<h2>SERVER ERROR</h2>
		<p>This is embarassing...<br>{{error}}</p>
	</div>
</div>
{% endblock %}