html *{
    font-family: 'Source Sans Pro' !important;
}

.title{
    height:100px;
    line-height:100px;
    text-align:center;
    font-size: 25px;
    color: #FFFFFF;
    /*font-weight: bold;*/
    /*font-family:'Comic Sans MS';*/
    /*margin:0;*/
    /*padding:0;*/
    /*background-image: url('http://i1308.photobucket.com/albums/s610/Sonsei13/Pictures%20for%20Banner%20profile/TaylorSwifttitle_zpsd3d7192a.png');*/
    background-color: #3c414b;

}

span{
    display:inline-block;
    vertical-align:middle;
    line-height:normal;
}

.map{
    /*background-color: pink;*/
    background-image: url('/modules/waterHome/img/schematic.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
}

.sidebar{
    background-color: #3c414b;
    width: 200px;
    /*height: 2000px;*/
    float: left;
    height:100%;
}

.main{
    /*width: 80%;*/
    /*margin-left:200px;*/
    /*height:100%;*/
    /*height: 400px;*/
    padding-left: 100px;
    padding-right: 100px;
    /*background-color:orange;*/
}

.graph{
    width:100%;
    /*max-width: 100%;*/
    height:500px;
    left:0;
    right:0;
    margin:auto;
}

.legend{
    /*background-color: purple;*/
}

#poop{
    /*position: absolute;*/
    left: 0;
    right: 0;
    margin: auto;
    /*background-color: blue;*/
}

.button{
    display:inline-block;
    height: 60px;
    width: 200px;
    background-color:#EEEDEC;
    border: 1px solid #B6B3B3;
    text-align: center;
    color: #ADADAD;
    cursor:hand;
    cursor:pointer;
}

.button p{
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
}

.active, .button:hover{
    color: #FFFFFF;
    background-color: #000000;
    border-color: #000000;
}

.button-group{
    /*display:inline;*/
    text-align:center;
    margin-top: 50px;
    margin-bottom: 35px;

    /*background-color: green;*/

}

.map{
    text-align: center;
}

.spinner{
    left: 50%;
    top: 160%;
}

.graphTitle{
    /*text-align: left;*/
    padding-left: 50px;
    padding-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
    color: #3c414b;
}

.content-container{
    /*background-image: url('http://40.media.tumblr.com/896a782f0887ce2529ab2afaa5f82c6e/tumblr_ne4txatjAl1s1yrvmo1_r2_1280.jpg');*/
    height: 100%;
    margin-bottom:100px;
    /*overflow-y:auto;*/
    /*background-color:green;*/
}

.desc{
    width: 90%;
    left:0;
    right:0;
    margin:auto;
    /*margin-bottom: 50px;*/
}

#RTButtons{
    margin-top: 40px;
}

#RTGraph{
    width: 100%;
    /*height: 400px;*/
    margin-bottom: 10px;
    /*background-color: green;*/
}

#RTAreaGraph{
    width: 100%;
    /*height: 400px;*/
    margin-bottom: 10px;
    /*background-color: green;*/
}

.graph{
    max-width: 90%;
}






