<div ng-controller="GoalsController" class="ng-view" autoscroll="true">


    <div class="container-fluid">
        <div class="row title"><span>CAMPUS ENERGY DASHBOARD</span></div>
        <div class="row map"></div>
        <div class="row content-container">

            <div class="main">
                <div class="button-group">
                    <div id="RTButton" class="button active"><p>Real Time</p></div>
                    <div id="monthlyButton" class="button"><p>Monthly Usage</p></div>
                    <div id="annualUseButton" class="button"><p>Annual Usage</p></div>
                    <div id="annualCostButton" class="button"><p>Annual Cost</p></div>
                    <!--<div id="annualGHGButton" class="button"><p>Annual GHG</p></div>-->
                </div>

                <!--<div class="graphTitle">Real Time Data</div>-->
                <div id="RTGraph">
                    <div class="graph" id="RTAreaGraph"></div>
                    <div class="button-group" id="RTButtons">
                        <div id="dayButton" class="button"><p>Day</p></div>
                        <div id="weekButton" class="button active"><p>Week</p></div>
                        <div id="monthButton" class="button"><p>Month</p></div>
                    </div>
                </div>

                <!--<div class="graphTitle" id="monthlyTitle">Monthly Usage</div>-->
                <!--<div class="graphTitle" id="annualTitle">Annual Usage</div>-->
                <!--<div class="graphTitle" id="costTitle">Annual Cost</div>-->
                <!--<div class="graphTitle" id="GHGTitle">Annual GHG</div>-->

                    <div class="graph" id="monthlyAreaGraph"></div>
                    <div class="graph" id="annualUseGraph"></div>
                    <div class="button-group" id="EGtoggle">
                        <div class="button" id="gasButton"><p>Gas Only</p></div>
                        <div class="button" id="elButton"><p>Electricity Only</p></div>
                        <div class="button active" id="bothButton"><p>Both</p></div>
                    </div>


                <div class="graph" id="annualCostGraph"></div>
                <!--<div class="graph" id="annualGHGGraph"></div>-->

                <!--<div class="legend">-->
                    <!--<svg width="" id="poop">-->
                        <!--<circle r="25" cx="25" cy="25" fill="cyan" class="electricity-circle-outer" />-->
                        <!--<circle r="25" cx="95" cy="25" fill="yellow" class="electricity-circle-outer" />-->
                        <!--<circle r="25" cx="170" cy="25" fill="orange" class="electricity-circle-outer" />-->
                        <!--<circle r="25" cx="245" cy="25" fill="purple" class="electricity-circle-outer" />-->
                        <!--<circle r="25" cx="320" cy="25" fill="green" class="electricity-circle-outer" />-->
                    <!--</svg>-->
                <!--</div>-->


                <div class="desc" id="usageDesc">UC Davis has reduced energy use to 1995 levels in spite of large growth (over 2.6M

                    square feet of new building space and 6,300 additional students).  Campus energy use

                    steadily increased from fiscal year 1993-94 until fiscal year 00-01, when the California

                    energy crisis occurred, causing campus annual energy costs to more than double.  The

                    increased financial pressure plus a new focus on reducing greenhouse gas emissions

                    prompted the University to make significant investments in infrastructure, implement

                    extensive energy conservation measures in existing buildings, and further commit to the

                    construction of highly-efficient new buildings.  Savings can largely be attributed to

                    building energy projects, connecting buildings to the Central Plant, and Central Plant

                    efficiency improvements.
                </div>

                <div class="desc" id="costDesc">The costs for electricity and gas have varied considerably over the years given market

                    conditions and campus-specific contractual issues, and campus energy costs peaked in

                    FY07-08 at $28.2M.  Energy costs for fiscal year 11-12 through the present include debt

                    costs to pay for past energy projects and allowances that are required to be purchased

                    for greenhouse gas emissions under California’s Cap and Trade Program.
                </div>

                <!--<div class="desc" id="GHGDesc">Ultimately, the campus has the goal to become completely carbon neutral by 2025.   To-->

                    <!--hit that milestone, UC Davis needs to set the emissions clock back over one hundred-->

                    <!--years, all the way to the founding of the “University Farm” in 1908, and  last twenty-->

                    <!--years of energy history suggest that UC Davis is right on-course.  To meet the next round-->

                    <!--of greenhouse gas reduction targets (reducing emissions down to 1990 levels), the-->

                    <!--campus has implemented new projects such as the <a href="http://sli.ucdavis.edu/index.html">Smart Lighting Initiative</a>, the <a href="http://news.ucdavis.edu/search/news_detail.lasso?id=10849">Campus-->

                    <!--Biodigester</a>, and the new <a href="http://news.ucdavis.edu/search/news_detail.lasso?id=11007">Solar Farm</a> that recently came online. Other efforts include-->

                    <!--making buildings even more energy efficient, and engaging the campus community to-->

                    <!--save energy through more real-time information. By continuing to adjust campus energy-->

                    <!--supply to electricity (called “electrification”), the campus will continue to be able to-->

                    <!--build and procure green electricity, which is more available than green sources of-->

                    <!--natural gas.-->
                <!--</div>-->

            </div>



        </div>

    </div>
</div>